@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-secondary font-sans antialiased overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html,
body {
  overflow-x: hidden !important;
  width: 100vw;
  max-width: 100%;
  position: relative;
}

html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
  max-width: 100vw;
}

/* Custom Text Gradient if needed */
.text-gradient {
  background: linear-gradient(90deg, #FBBF24 0%, #FDE68A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
